$background-color: #efefef;

/* Font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

@import '_grid.scss';

// Helpers
.center { 
	text-align: center;
 }

body {
	// Override browser default padding and margin
	margin: 0;
	padding: 0;
	// Set font globally
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	// Sticky the footer
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	// Backgorund color
	background: $background-color;
}

main {
	// make footer sticky
	flex: 1 0 auto;
	// Vertically align content
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	&::after { 
		content: "";

		background: url("https://actuallymentor.github.io/egypt-guide/assets/pyramids-1920.jpg");
		background-position: bottom center;
		opacity: 0.5;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1; 
	}
  	// background-color: black;
  	// background-image: url("/assets/pyramids-1920.jpg");
  	// background-position: bottom center;
  	h1 { 
  		margin: 0;
  	}
  }

  #footer {
	// make the copyright notics less in your face
	text-align: center;
	padding: 10px;
	opacity: 0.6;
	font-size: 13px;
}