- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
doctype html
html
	include pug/_header.pug
	body
		main
			img( src=site.system.url + '/assets/profile-200.png', style='height: 100px; width: 100px; margin-bottom: 30px;' )
			h1 Cairo Tour Guide
			h2 Personal tours in English
			div.row.center
				div.col.l8.offset-l2.m8.offset-m2.s12
					p.col.s12.m12.l12 Tours of: Giza, memphis, saqqara, Dasher, Egyptian museum, citadel of salah eldin, the Islamic mosques in Cairo, the churches of Cairo, Dahshor, street of almoez in Cairo, khan alkhalily.
					p.col.s12.m12.l12 For information and booking call/whatsapp: +20 109 537 3192
	include pug/_footer.pug